[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
cs50 = "*"
db-sqlite3 = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
